# Versões compatíveis com Python 3.8 e pip antigo
flask==2.3.3
flask-socketio==5.3.5
flask-cors==4.0.0
flask-caching==2.1.0
python-socketio==5.10.0
psutil==5.9.6
py-cpuinfo==9.0.0
python-dotenv==1.0.0
werkzeug==2.3.7

# Autenticação e Banco de Dados
flask-jwt-extended==4.6.0
flask-sqlalchemy==3.0.5
flask-migrate==4.0.5
email-validator>=2.0.0,<3.0.0
